%body
  .side
    .side__user
      .sideuser__detail
        .sideuser__detail--name
          Naoto
          %a.sideuser__detail--new-group{:href => ""}
            %i.fas.fa-edit
          %a.sideuser__detail--user-edit{:href => ""}
            %i.fas.fa-cog
      .side__groups
        %a.side__groups--list{:href=>""}
          .side__groups--group
            .side__groups--group-name
              Akikawa
            .side__groups--group-message
              また会いましょう！
          .side__groups--group
            .side__groups--group-name
              Akikawa
            .side__groups--group-message
              また会いましょう！
          .side__groups--group
            .side__groups--group-name
              Akikawa
            .side__groups--group-message
              また会いましょう！
          .side__groups--group
            .side__groups--group-name
              Akikawa
            .side__groups--group-message
              また会いましょう！



