.chatroom__body--message-name
  = message.user.name
.chatroom__body--message-time
  = message.created_at
.chatroom__body--message-body
  - if message.content.present?
    = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?



